.hero_screen {
  padding: 110px 0 100px 0;
  position: relative;
  background: inherit;
  @include sm-devices {
    padding: 95px 0 72px 0;
  }
  @include xs-devices {
    padding: 85px 0 0 0;
  }
  .container-fluid {
    @include xl-devices {
      width: calc((100vw - 1530px) / 2 + 1530px);
      padding-right: calc((100vw - 1530px) / 2) !important;
      margin-left: calc((100vw - 1530px) / 2);
    }
    @include lg-devices {
      width: calc((100vw - 1140px) / 2 + 1140px);
      padding-right: calc((100vw - 1140px) / 2) !important;
      margin-left: calc((100vw - 1140px) / 2);
    }
    @include md-devices {
      width: calc((100vw - 940px) / 2 + 940px);
      padding-right: calc((100vw - 940px) / 2) !important;
      margin-left: calc((100vw - 940px) / 2);
    }
    @include sm-devices {
      width: 100%;
    }
    @include xs-devices {
      width: 100%;
    }
  }
  &-content {
    position: relative;
    min-height: 694px;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    @include lg-devices {
      min-height: 608px;
    }
    @include md-devices {
      min-height: 608px;
    }
    @include sm-devices {
      min-height: 415px;
    }
    @include xs-devices {
      min-height: 701px;
    }
    .content__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      z-index: 2;
      padding: 114px 0 114px 0;
      @include lg-devices {
        padding: 69px 0 69px 0;
      }
      @include md-devices {
        padding: 69px 0 69px 0;
      }
      @include sm-devices {
        padding: 64px 0 33px 0;
      }
      @include xs-devices {
        padding: 29px 0 400px 0;
      }
      &-descr {
        font-family: $font-main;
        font-weight: 400;
        color: #fff;
        text-align: left;
        font-size: 18px;
        line-height: 25px;
        margin: 0 0 0 100px;
        max-width: 175px;
        width: 100%;
        word-break: break-word;
        @include lg-devices {
          margin: 0 0 0 68px;
        }
        @include md-devices {
          margin: 0 0 0 52px;
        }
        @include sm-devices {
          font-size: 12px;
          line-height: 17px;
          margin: 0 0 0 33px;
          max-width: 120px;
        }
        @include xs-devices {
          font-size: 12px;
          line-height: 17px;
          margin: 0 0 0 20px;
          max-width: 120px;
        }
      }
      &-title {
        font-family: $font-main;
        font-weight: 700;
        font-size: 45px;
        line-height: 53px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        margin: 20px 0 0 100px;
        width: 100%;
        max-width: 485px;
        word-break: break-word;
        text-align: left;
        @include lg-devices {
          margin: 20px 0 0 68px;
        }
        @include md-devices {
          margin: 20px 0 0 52px;
        }
        @include sm-devices {
          font-size: 17px;
          line-height: 24px;
          margin: 10px 0 0 33px;
          max-width: 300px;
        }
        @include xs-devices {
          font-size: 17px;
          line-height: 24px;
          margin: 10px 0 0 20px;
          max-width: 300px;
        }
      }
      &-date {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: $font-main;
        font-weight: 700;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border: transparent;
        border-radius: 0;
        background: rgba(135, 100, 218, 0.5);
        max-width: 620px;
        min-height: 70px;
        width: 100%;
        margin: 30px 0 0 0;
        word-break: break-word;
        @include lg-devices {
          max-width: 558px;
        }
        @include md-devices {
          max-width: 536px;
        }
        @include sm-devices {
          font-size: 16px;
          line-height: 19px;
          margin: 20px 0 0 33px;
          max-width: 250px;
          min-height: 41px;
        }
        @include xs-devices {
          font-size: 16px;
          line-height: 19px;
          margin: 20px 0 0 20px;
          max-width: 197px;
          min-height: 41px;
        }
      }
      &-message {
        font-family: $font-main;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        max-width: 650px;
        color: #fff;
        width: 100%;
        margin: 40px 0 0 100px;
        @include lg-devices {
          max-width: 490px;
          margin: 30px 0 0 68px;
        }
        @include md-devices {
          max-width: 490px;
          margin: 30px 0 0 52px;
        }
        @include sm-devices {
          font-size: 14px;
          line-height: 19px;
          max-width: 312px;
          margin: 20px 0 0 33px;
        }
        @include xs-devices {
          font-size: 14px;
          line-height: 19px;
          max-width: 290px;
          margin: 20px 0 0 20px;
        }
      }
      &-register__btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: $font-main;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        background: #8764da;
        transition: 0.2s ease;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        max-width: 260px;
        width: 100%;
        min-height: 50px;
        margin: 40px 0 0 100px;
        cursor: pointer;
        @include lg-devices {
          margin: 30px 0 0 68px;
        }
        @include md-devices {
          margin: 30px 0 0 52px;
        }
        @include sm-devices {
          margin: 30px 0 0 33px;
        }
        @include xs-devices {
          margin: 20px 0 0 20px;
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background: #9c73ff;
          transition: 0.2s ease;
        }
      }
    }
    .content__img {
      max-width: 900px;
      width: auto;
      height: auto;
      position: absolute;
      right: calc(0% + 50px);
      bottom: 0;
      z-index: 1;
      @include lg-devices {
        right: calc(0% - 70px);
      }
      @include md-devices {
        right: calc(0% - 240px);
      }
      @include sm-devices {
        max-width: 496px;
        right: calc(0% - 65px);
      }
      @include xs-devices {
        max-width: 496px;
        bottom: 59px;
        right: calc(0% - 118px);
      }
    }
  }
  &-content__inner {
    width: 100%;
    @include sm-devices {
      max-width: 720px;
      margin: 0 auto;
    }
    @include xs-devices {
      position: relative;
      max-width: 320px;
      margin: 0 auto;
    }
  }
}
