.webinar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    @include xl-devices {
      padding: 30px 0 30px 0;
    }
    @include lg-devices {
      padding: 30px 0 30px 0;
    }
    @include md-devices {
      padding: 30px 0 30px 0;
    }
    @include sm-devices {
      padding: 15px 0 15px 0;
    }
    @include xs-devices {
      padding: 10px 10px 10px 10px;
    }
    &-logo {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      @include xl-devices {
        max-width: 230px;
      }
      @include lg-devices {
        max-width: 230px;
      }
      @include md-devices {
        max-width: 52px;
      }
      @include sm-devices {
        flex: 1;
      }
      @include xs-devices {
        flex: 1;
      }
      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        cursor: pointer;
        word-break: break-word;
        text-decoration: none;
        @media screen and (min-width: 1200px) {
          flex-wrap: nowrap;
        }
        &:hover {
          text-decoration: none;
        }
        &:focus {
          outline: none;
        }
        img {
          max-width: 100%;
          height: auto;
          &.logo-descr {
            display: none;
            margin: 5px 0 0 10px;
            @include xl-devices {
              display: block;
            }
            @include lg-devices {
              display: block;
            }
          }
        }
      }
    }
    &-links {
      position: relative;
      display: block;
      flex: 1;
      @include sm-devices {
        display: none;
      }
      @include xs-devices {
        display: none;
      }
      .header__nav-links__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        li {
          display: inline-block;
          position: relative;
          font-family: $font-main;
          font-weight: 400;
          font-size: 16px;
          line-height: 18.75px;
          color: #fff;
          position: relative;
          transition: 0.2s ease;
          word-break: break-word;
          cursor: pointer;
          @include xl-devices {
            margin: 0 40px 0 0;
          }
          @include lg-devices {
            margin: 0 20px 0 0;
          }
          @include md-devices {
            margin: 0 20px 0 0;
          }
          a {
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            text-decoration: none;
            letter-spacing: 0.05em;
            word-break: break-word;
            &:focus {
              outline: none;
            }
            &:hover {
              color: inherit;
              text-decoration: none;
            }
          }
        }
        li:last-of-type {
          margin: 0;
        }
        li:hover:after {
          content: '';
          opacity: 0;
          transition: 0.2s ease;
        }
        li:hover:after {
          content: '';
          opacity: 1;
          position: absolute;
          bottom: calc(0% - 46px);
          left: 0;
          height: 2px;
          width: 100%;
          background: #8764da;
          transition: 0.2s ease;
        }
      }
    }
    &-buttons {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      .age_restriction {
        position: relative;
        max-width: 28px;
        width: 100%;
        img {
          max-width: 100%;
          height: auto;
        }
        @include xs-devices {
          margin: 0 16px 0 16px;
        }
      }
      /*languagepicker*/
      .languagepicker {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 33px;
        min-width: 33px;
        width: 100%;
        min-height: 26px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        margin: 0 30px 0 30px;
        @include lg-devices {
          margin: 0 20px 0 20px;
        }
        @include md-devices {
          margin: 0 20px 0 30px;
        }
        @include xs-devices {
          margin: 0;
          display: none;
        }
        a {
          display: none;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #fff;
          font-family: $font-main;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none;
          word-break: break-word;
          cursor: pointer;
          &:hover,
          &:focus {
            outline: none;
            text-decoration: none;
          }
          &.active {
            display: block;
          }
        }
      }

      /*header burger*/
      .header__nav-burger {
        text-align: center;
        position: relative;
        cursor: pointer;
        display: none;
        @include sm-devices {
          display: block;
          margin: 0 0 0 30px;
        }
        @include xs-devices {
          display: block;
          margin: 0 0 0 13px;
        }

        &__bars {
          display: inline-block;
          width: auto;
          transition: 0.4s ease;
          margin: 19px auto 19px auto;
          .bar1,
          .bar2,
          .bar3 {
            height: 2px;
            width: 30px;
            background-color: #fff;
            margin: 8px auto;
            transition: 0.4s;
          }

          .bar1 {
            margin-top: 0;
          }

          .bar3 {
            margin-bottom: 0;
          }
        }
      }
      .register_btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        min-width: 200px;
        width: 100%;
        min-height: 50px;
        margin: 0;
        border: 1px solid #ffffff;
        border-radius: 5px;
        background: transparent;
        text-transform: uppercase;
        transition: 0.2s ease;
        word-break: break-word;
        cursor: pointer;
        &:hover {
          background: #9c73ff;
          color: #fff;
          border: 1px solid transparent;
          transition: 0.2s ease;
        }
        @include sm-devices {
          max-width: 230px;
          min-width: 230px;
        }
        @include xs-devices {
          max-width: 145px;
          min-width: 145px;
        }
        span {
          font-family: $font-main;
          font-size: 16px;
          line-height: 18.75px;
          color: #fff;
        }
      }
    }
    &-mobile-links {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      @media screen and (min-width: 992px) {
        display: none;
      }
      &.visible-mobile-navbar {
        display: flex !important;
        flex-wrap: wrap;
        @media screen and (min-width: 992px) {
          display: none !important;
        }
        @include sm-devices {
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
        }
        @include xs-devices {
          flex-direction: column;
        }
      }
      .header__nav-links__list-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @include sm-devices {
          height: 100vh;
          width: 100%;
          max-width: 320px;
        }
        @include xs-devices {
          height: 100vh;
          width: 100vw;
        }
        background: rgba(255, 255, 255, 0.9);
        .close-btn {
          align-self: flex-end;
          width: 50px;
          height: 50px;
          margin: 6px 6px 0 0;
          position: relative;
        }
        .close-btn::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          background: #58418f;
        }
        .close-btn::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          background: #58418f;
        }
        &__list {
          position: relative;
          padding: 0;
          margin: 60px 0 0 30px;
          list-style-type: none;
          li {
            display: block;
            position: relative;
            margin: 0 0 20px 0;
            font-family: $font-main;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.05em;
            color: #000;
            word-break: break-word;
            a {
              text-decoration: none;
              font-family: inherit;
              font-size: inherit;
              font-weight: inherit;
              color: inherit;
              word-break: break-word;
              &:hover {
                text-decoration: none;
                color: inherit;
              }
              &:focus {
                outline: none;
              }
            }
          }
          li:last-of-type {
            margin: 0;
          }
        }
        .register_btn-mob {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          max-width: 230px;
          width: 100%;
          min-height: 50px;
          box-sizing: border-box;
          border: 1px solid #8764da;
          border-radius: 5px;
          font-family: $font-main;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #8764da;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          cursor: pointer;
          margin: 30px 0 0 30px;
          transition: 0.2s ease;
          word-break: break-word;
          &:hover {
            background: #9c73ff;
            color: #fff;
            transition: 0.2s ease;
            border: 1px solid transparent;
          }
        }

        .languagepicker {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          max-width: 33px;
          min-width: 33px;
          width: 100%;
          min-height: 26px;
          border: 1px solid #333;
          border-radius: 4px;
          margin: 151px 0 30px 30px;
          a {
            display: none;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #333;
            font-family: $font-main;
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;
            text-decoration: none;
            word-break: break-word;
            cursor: pointer;
            &:hover,
            &:focus {
              outline: none;
              text-decoration: none;
            }
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}
