.webinar_news {
  position: relative;
  padding: 70px 0 70px 0;
  @include lg-devices {
    padding: 70px 0 70px 0;
  }
  @include md-devices {
    padding: 70px 0 70px 0;
  }
  @include sm-devices {
    padding: 30px 0 30px 0;
  }
  @include xs-devices {
    padding: 30px 0 30px 0;
  }

  &-content {
    position: relative;
    .content__title {
      display: block;
      font-family: $font-main;
      font-weight: 700;
      font-size: 42px;
      line-height: 49px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
      margin: 0 auto;
      word-break: break-word;
      @include xl-devices {
        padding: 0 0 132px 0;
      }
      @include lg-devices {
        padding: 0 0 132px 0;
      }
      @include md-devices {
        padding: 0 0 132px 0;
      }
      @include sm-devices {
        margin: 0 auto 44px auto;
        font-family: $font-main;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
      @include xs-devices {
        margin: 0 auto 30px auto;
        font-family: $font-main;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
  }
  &-slider__wrapper {
    position: relative;
    width: 100%;
    @include xl-devices {
      max-width: 1530px;
      padding: 0;
      margin: 0 auto;
    }
    @include lg-devices {
      max-width: 1140px;
      padding: 0;
      margin: 0 auto;
    }
    @include md-devices {
      max-width: 940px;
      padding: 0;
      margin: 0 auto;
    }
    .news-slider-prev-arrow {
      display: none !important;
      position: absolute;
      width: 16px;
      height: 32px;
      background: url('../../images/svg/slick-arrow.svg') no-repeat center;
      background-size: cover;
      z-index: 6;
      transform: rotate(180deg);
      transition: 0.2s ease;
      cursor: pointer;
      &.slick-disabled {
        pointer-events: none;
        opacity: 0.5;
        cursor: none;
      }
      &:hover {
        background: url('../../images/svg/slick-arrow-hover.svg') no-repeat center;
        transition: 0.2s ease;
      }
      @include md-devices {
        left: calc(0px + 38%);
        top: calc(0px - 14%);
      }
      @include lg-devices {
        left: calc(0px + 40%);
        top: calc(0px - 14%);
      }
      @include xl-devices {
        left: calc(0px + 42.5%);
        top: calc(0px - 14%);
      }
      @media screen and (min-width: 992px) {
        display: block !important;
      }
    }
    .news-slider-next-arrow {
      display: none !important;
      position: absolute;
      width: 16px;
      height: 32px;
      background: url('../../images/svg/slick-arrow.svg') no-repeat center;
      background-size: cover;
      z-index: 6;
      transition: 0.2s ease;
      cursor: pointer;
      &.slick-disabled {
        pointer-events: none;
        opacity: 0.5;
        cursor: none;
      }
      &:hover {
        background: url('../../images/svg/slick-arrow-hover.svg') no-repeat center;
        transition: 0.2s ease;
      }
      @include md-devices {
        right: calc(0px + 38%);
        top: calc(0px - 14%);
      }
      @include lg-devices {
        right: calc(0px + 40%);
        top: calc(0px - 14%);
      }
      @include xl-devices {
        right: calc(0px + 42.5%);
        top: calc(0px - 14%);
      }
      @media screen and (min-width: 992px) {
        display: block !important;
      }
    }
  }
  &-slider {
    .slick-dots {
      display: none !important;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: calc(0px - 11.5%);
      bottom: 0;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      padding: 0;
      list-style-type: none;
      z-index: 5;
      background: transparent;
      height: 32px;
      transform: translate(-50%, -50%);
      left: 50%;
      cursor: pointer;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 1px solid transparent;
        border-radius: 50%;
        margin: 0 10px 0 0;
        width: 10px;
        height: 10px;
        background: #cdcdcd;
        &.slick-active {
          background: rgba(135, 100, 218, 0.5);
        }
        button {
          padding: 0;
          font-family: none;
          font-size: 0;
          display: none;
        }
      }
      li:last-of-type {
        margin: 0;
      }
      @media screen and (min-width: 992px) {
        display: flex !important;
      }
    }
    .slick-track {
      display: flex !important;
    }
    .slick-slide {
      height: inherit !important;
      @include xl-devices {
        margin: 0 15px;
      }
      @include lg-devices {
        margin: 0 15px;
      }
      @include md-devices {
        margin: 0 15px;
      }
      &.slick-active {
        @media screen and (min-width: 992px) {
          opacity: 1;
        }
      }
      @include sm-devices {
        margin: 0 30px 0 0;
      }
      @include xs-devices {
        margin: 0 30px 0 0;
      }
    }
    .slick-slide div {
      height: 100%;
    }
    .slick-list {
      @include xl-devices {
        margin: 0 -15px;
        padding: 0 0 30px 0;
      }
      @include lg-devices {
        margin: 0 -15px;
        padding: 0 0 30px 0;
      }
      @include md-devices {
        margin: 0 -15px;
        padding: 0 0 30px 0;
      }
      @include sm-devices {
        width: calc((100vw - 690px) / 2 + 720px);
        padding-right: calc((100vw - 720px) / 2);
        margin-left: calc((100vw - 750px) / 2);
        padding: 0 15.5% 30px 15px;
      }
      @include xs-devices {
        width: calc((100vw - 270px) / 2 + 300px);
        padding-right: calc((100vw - 300px) / 2);
        margin-left: calc((100vw - 330px) / 2);
        padding: 0 15.5% 30px 15px;
        height: initial !important;
      }
    }
    .slider__card-wrapper {
      position: relative;
      height: 100%;
      .slider__card {
        box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        max-width: 490px;
        height: 100%;
        width: 100%;
        margin: 0 30px 0 auto;
        transition: 0.2s ease;
        position: relative;
        cursor: pointer;
        @include lg-devices {
          max-width: 360px;
        }
        @include md-devices {
          max-width: 455px;
        }
        @include sm-devices {
          margin-right: 30px;
        }
        @include xs-devices {
          margin-right: 30px;
        }
        .card__header {
          position: relative;
          width: 100%;
          height: initial;
          z-index: 4;
          &-image {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
              max-width: 100%;
              width: 100%;
              height: auto;
            }
          }
        }
        .card__body {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          padding: 20px;
          border-bottom: 1px solid #d7d7d7;
          height: initial;
          flex: 1;
          position: relative;
          z-index: 4;
          .date {
            display: block;
            text-align: left;
            color: #ababab;
            font-family: $font-main;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
            word-break: break-word;
            @include sm-devices {
              font-size: 12px;
              line-height: 17px;
            }
            @include xs-devices {
              font-size: 12px;
              line-height: 17px;
            }
          }
          &-title {
            font-family: $font-main;
            text-align: left;
            padding: 20px 0 0 0;
            margin: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #333333;
            word-break: break-word;
            @include sm-devices {
              font-size: 14px;
              line-height: 17px;
            }
            @include xs-devices {
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
        .card__footer {
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;
          height: initial;
          padding: 20px;
          z-index: 4;
          &-btn {
            width: 100%;
            a {
              display: block;
              position: relative;
              font-family: $font-main;
              font-size: 14px;
              line-height: 20px;
              color: #7a7a7a;
              transition: 0.2s ease;
              z-index: 2;
              word-break: break-word;
              cursor: pointer;
              @include sm-devices {
                font-size: 12px;
                line-height: 17px;
              }
              @include xs-devices {
                font-size: 12px;
                line-height: 17px;
              }
              &:hover,
              &:focus {
                text-decoration: none;
                color: #7a7a7a;
                outline: none;
              }
            }
            a::after {
              content: '';
              position: absolute;
              right: 0;
              top: calc(0% + 5px);
              background: url('../../images/svg/right-arrow.svg') no-repeat center;
              background-size: cover;
              width: 7px;
              height: 14px;
              @include sm-devices {
                top: calc(0% + 2px);
              }
              @include xs-devices {
                top: calc(0% + 2px);
              }
            }
          }
        }
      }
    }
  }
}
