button,
input [type='submit'] {
  -webkit-appearance: button;
  background: transparent;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

body {
  &.gk-webinar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-stack;
    height: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    .container {
      @include xl-devices {
        max-width: 1530px !important;
        padding: 0;
        margin: 0 auto;
      }
      @include lg-devices {
        max-width: 1140px;
        padding: 0;
        margin: 0 auto;
      }
      @include md-devices {
        max-width: 940px;
        padding: 0;
        margin: 0 auto;
      }
      @include sm-devices {
        max-width: 720px;
        padding: 0;
        margin: 0 auto;
      }
      @include xs-devices {
        max-width: 320px;
        padding: 0;
        margin: 0 auto;
      }
    }
    .container-fluid {
      @include xl-devices {
        max-width: 1920px;
      }
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.gk-webinar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  &.modal-open {
    overflow: hidden !important;
  }
}
