// LIBS
$fa-font-display: swap;
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/icons';
@import '~bootstrap/scss/bootstrap';
@import '../js/components/libs/slick-carousel/slick/slick.css';
@import '../js/components/libs/OverlayScrollbars/OverlayScrollbars.min.css';

// VARIABLES AND MIXINS
$font-stack: inherit;
$font-main: inherit;

@mixin xs-devices {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin sm-devices {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin md-devices {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin lg-devices {
  @media screen and (min-width: 1200px) and (max-width: 1919px) {
    @content;
  }
}
@mixin xl-devices {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

// COMPONENTS
@import './components/webinar_header';
@import './components/webinar_hero_screen';
@import './components/about_webinar_event';
@import './components/about_webinar_speaker';
@import './components/webinar_gifts';
@import './components/webinar_news';
@import './components/webinar_partners';
@import './components/webinar_footer';
@import './components/modals/modals';

// PAGES
@import './pages/main';
